<div>
    <h2 translate="btravelappApp.historybtr.home.title">Historybtrs</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="historybtr.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="btravelappApp.historybtr.home.createLabel">Create new Historybtr
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'btravelappApp.historybtr.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="btrstatusbefore"><span translate="btravelappApp.historybtr.btrstatusbefore">Btrstatusbefore</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="btrstatusafter"><span translate="btravelappApp.historybtr.btrstatusafter">Btrstatusafter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="change_date"><span translate="btravelappApp.historybtr.change_date">Change_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="changed_by"><span translate="btravelappApp.historybtr.changed_by">Changed_by</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="start_date"><span translate="btravelappApp.historybtr.start_date">Start_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="end_date"><span translate="btravelappApp.historybtr.end_date">End_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assigned_to"><span translate="btravelappApp.historybtr.assigned_to">Assigned_to</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assigned_from"><span translate="btravelappApp.historybtr.assigned_from">Assigned_from</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location"><span translate="btravelappApp.historybtr.location">Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="center_cost"><span translate="btravelappApp.historybtr.center_cost">Center_cost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="request_date"><span translate="btravelappApp.historybtr.request_date">Request_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_modified_date"><span translate="btravelappApp.historybtr.last_modified_date">Last_modified_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="btr.id"><span translate="btravelappApp.historybtr.btr">btr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="historybtr in historybtrs track by historybtr.id">
                    <td><a ui-sref="historybtr.detail({id:historybtr.id})">{{historybtr.id}}</a></td>
                    <td>{{historybtr.btrstatusbefore}}</td>
                    <td>{{historybtr.btrstatusafter}}</td>
                    <td>{{historybtr.change_date | date:'medium'}}</td>
                    <td>{{historybtr.changed_by}}</td>
                    <td>{{historybtr.start_date | date:'medium'}}</td>
                    <td>{{historybtr.end_date | date:'medium'}}</td>
                    <td>{{historybtr.assigned_to}}</td>
                    <td>{{historybtr.assigned_from}}</td>
                    <td>{{historybtr.location}}</td>
                    <td>{{historybtr.center_cost}}</td>
                    <td>{{historybtr.request_date | date:'medium'}}</td>
                    <td>{{historybtr.last_modified_date | date:'medium'}}</td>
                    <td>
                        <a ui-sref="btr.detail({id:historybtr.btr.id})">{{historybtr.btr.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="historybtr.detail({id:historybtr.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="historybtr.edit({id:historybtr.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="historybtr.delete({id:historybtr.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
